img_recognition/program/__pycache__/
pandas/__pycache__/
.env
myproject/myenv/
myproject/assistant/__pycache__/
myproject/myproject/__pycache__/
myproject/myproject/car_cost_forecasting/__pycache__/
myproject/car_cost_forecasting/__pycache__/