{% extends 'base.html' %}

{% load static %}

{% block content %}
<main class="form-page">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <div style="margin-bottom: 20px; display: flex; align-items: flex-end; justify-content: flex-start; gap: 40px;">
        <div>
            <label for"userInput">Ask the Assistant</label>
            <input id="userInput" type="text" style="width: 400px;"></input>
        </div>
        <button onclick="sendRequest()" style="height: 52px;">ask</button>
    </div>
    <p id="response"></p>

    <script>
        function sendRequest() {
            var userInput = document.getElementById('userInput').value;
            fetch('/assistant/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({ user_input: userInput })
            })
            .then(response => response.json())
            .then(data => {
                console.log(data)
                document.getElementById('response').innerText = "Answer: " + data.response;
            });
        }
    </script>
</main>
{% endblock %}